 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 79px;
}

.u-section-1 .u-image-1 {
  width: 56px;
  height: 56px;
  margin: 20px auto 0 43px;
}

.u-section-1 .u-text-1 {
  width: auto;
  margin: 12px auto 12px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  font-size: 3rem;
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 12px;
    margin-left: -13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -45px;
    margin-bottom: 23px;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 700;
    font-size: 1.5625rem;
    padding: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1163px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1190px;
  margin: 165px -70px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 99px;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 0 60px 35px;
}

.u-section-2 .u-image-1 {
  width: 218px;
  height: 55px;
  margin: 0 auto;
}

.u-section-2 .u-shape-1 {
  background-image: none;
}

.u-section-2 .u-shape-2 {
  width: 380px;
  height: 68px;
  margin: -58px -20px 60px;
}

.u-section-2 .u-form-1 {
  margin-top: -519px;
  margin-bottom: 60px;
  height: 403px;
}

.u-section-2 .u-btn-1 {
  margin-right: auto;
  margin-left: auto;
  display: block;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 60px;
    padding-right: 140px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 295px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    width: 370px;
    height: 93px;
    margin-top: -127px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-2 .u-shape-1 {
    width: 360px;
    height: 273px;
    margin: -134px -10px 0;
  }

  .u-section-2 .u-shape-2 {
    width: 360px;
    height: 60px;
    margin: -25px -10px 0;
  }

  .u-section-2 .u-form-1 {
    margin-top: -309px;
    height: 297px;
  }

  .u-section-2 .u-btn-1 {
    padding: 17px 0;
  }
}